[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "deeptrafo"]
	path = deeptrafo
	url = https://github.com/neural-structured-additive-learning/deeptrafo
